body {
    margin: 0;
    background-color: #333;
    font-family: 'Oswald', sans-serif;;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}


/* LAYOUT */

.navbar {
    background-color: #222;
    font-size: 20px;
}

.fix {
    clear: both;
}
/* 
.navbar>ul {
    border: 2px solid white; 
} */

.navbar>ul.branding {
    margin-right: 100px;
    margin-left: 50px;
}


.navbar>ul.branding, .navbar>ul.main {
    float:left
}

.navbar>ul.client {
    float: right; 
    margin-right: 50px;
}

.navbar>ul>li {
    /* border: 1px solid orange; */
    float: left;
    padding: 20px 10px;
}


.navbar>ul>li>a {
    color: white;
}

.navbar .logo {
    color:darkorange;
    
}